@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lucida Sans', sans-serif;
    background-color: black;
}

.offset::before {
    display: block;
    content: "";
    height: 6rem;
}

.navbar {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2rem;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px 0;    
}

.nav-link:hover {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8); 
    border-bottom: 2px solid;
    width: fit-content;
    /* max-width: fit-content; */
}

.heading-content {
    position: absolute;
    top: 40%;
    width: 100%;
    max-width: 100%;
    color: white;
}

.heading-content h5 {
    font-size: 3em;
    font-weight: 300;
    color: #fff;
    font-family: monospace;
}

.heading-content h1 {
    font-size: 5em;
    font-weight: bold;
    color: #fff;
    font-family: sans-serif;
}

.heading-content p {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: lighter;
    color: #ccc;
    word-spacing: 5px;
    letter-spacing: 2px;
    /* font-family: sans-serif; */
}

#about .btn {
    border: 2px solid transparent;
    width: 40%;
    padding: 15px 22px;
    background: #000;
    border-radius: 5px;
    margin-top: 10px;
}

#about .btn a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

#about .btn:hover {
    border: 2px solid #1ebba3;
    cursor: pointer;
}

#service .button {
    border: 2px solid transparent;
    width: 40%;
    padding: 15px 22px;
    background: #000;
    border-radius: 5px;
    margin-top: 10px; 
}

#service .button a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

#service .button:hover {
    border: 2px solid #1ebba3;
    cursor: pointer;
}

.sec1 form input {
    width: 400px;
}

.sec1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f8fafb;
}

.sec1 h2 {
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 50px;
}

.sec1 p {
    font-family: sans-serif;
    font-weight: 400;    
}

footer a {
    text-decoration: none;
}

/* --------------- Media Query --------------- */
@media screen and (max-width: 600px) {
    .navbar {
        letter-spacing: 0.1em;        
        padding: 10px 0;    
    }

    .heading-content {
        top: 11%;
    }

    .heading-content h5 {
        font-size: 1.5rem;        
    }
    
    .heading-content h1 {
        font-size: 2.5rem;        
    }
    
    .heading-content p {
        font-size: 0.9rem;        
    }
}

@media screen and (min-width: 600px) {
    .navbar {
        letter-spacing: 0.1em;        
        padding: 10px 0;    
    }

    .heading-content {
        top: 12%;
    }

    .heading-content h5 {
        font-size: 2rem;        
    }
    
    .heading-content h1 {
        font-size: 3rem;        
    }
    
    .heading-content p {
        font-size: 1.1rem;        
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        letter-spacing: 0.1em;        
        padding: 10px 0;    
    }

    .heading-content {
        top: 17%;
    }

    .heading-content h5 {
        font-size: 2.5rem;        
    }
    
    .heading-content h1 {
        font-size: 4rem;        
    }
    
    .heading-content p {
        font-size: 1.3rem;        
    }
}

@media screen and (min-width: 992px) {
    .navbar {
        letter-spacing: 0.2rem;        
        padding: 20px 0;    
    }

    .heading-content {
        top: 21%;
    }

    .heading-content h5 {
        font-size: 3rem;        
    }
    
    .heading-content h1 {
        font-size: 5rem;        
    }
    
    .heading-content p {
        font-size: 1.5rem;        
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        letter-spacing: 0.2em;        
        padding: 20px 0;    
    }

    .heading-content {
        top: 30%;
    }

    .heading-content h5 {
        font-size: 3rem;        
    }
    
    .heading-content h1 {
        font-size: 5rem;        
    }
    
    .heading-content p {
        font-size: 1.5rem;        
    }
}

@media screen and (min-width: 1300px) {
    .navbar {
        letter-spacing: 0.1em;        
        padding: 10px 0;    
    }

    .heading-content {
        top: 40%;
    }

    .heading-content h5 {
        font-size: 3rem;        
    }
    
    .heading-content h1 {
        font-size: 5rem;        
    }
    
    .heading-content p {
        font-size: 1.5rem;        
    }
}

@media screen and (min-width: 1400px) {
    .navbar {
        letter-spacing: 0.1em;        
        padding: 10px 0;    
    }

    .heading-content {
        top: 45%;
    }

    .heading-content h5 {
        font-size: 3rem;        
    }
    
    .heading-content h1 {
        font-size: 5rem;        
    }
    
    .heading-content p {
        font-size: 1.5rem;        
    }
}
/* 
@media screen and (max-width: 767px) {
    .navbar {
        letter-spacing: 0.1em;        
        padding: 10px 0;    
    }

    .heading-content {
        top: 22%;
    }

    .heading-content h5 {
        font-size: 1em;        
    }
    
    .heading-content h1 {
        font-size: 2em;        
    }
    
    .heading-content p {
        font-size: 0.7em;        
    }
} */
/* 
@media screen and (max-width: 479px) {
    .navbar {
        letter-spacing: 0.1em;        
        padding: 10px 0;    
    }

    .heading-content {
        top: 22%;
    }

    .heading-content h5 {
        font-size: 1em;        
    }
    
    .heading-content h1 {
        font-size: 2em;        
    }
    
    .heading-content p {
        font-size: 0.7em;        
    }
} */